.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Nav Bar */
.container { 
  position: relative; 
  display: inline-block; 
} 

.button { 
  padding: 0; width: 50px; 
  border: 0; 
  background-color: #fff; 
  color: #333; 
  cursor: pointer; 
  outline: 0; 
  font-size: 40px; 
}

.dropdown { 
  position: absolute; 
  top: 100%; 
  left: 0; 
  width: 300px; 
  z-index: 2; 
  border: 1px solid rgba(0, 0, 0, 0.04); 
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14); 
} 

  ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
  } 

  li { 
    padding: 8px 12px; 
  } 

  li:hover { 
    background-color: rgba(0, 0, 0, 0.14); 
    cursor: pointer; 
  }


  .logoStyle {
    font-family: 'Pinyon Script', cursive;
    font-size: 6.5vw;
    padding: 0;
    margin:0;
    margin-left: 40px;
    color: black;
    text-decoration: black;
  }

  .home-nav-link {
    text-decoration: black;
    margin: auto 0;

  }

  .headerStyle {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
  }

  .navTitles {
    margin:10px;
  }

  .nav-links {
    color:black;
    margin: 5px;
    text-decoration: none;
    font-size: 2vw;
    font-style: oblique;
  }

  .nav-container {
    align-items: center;
    display: flex;
  }

  @media (max-width: 800px) {
    .nav-links {
    display: none;
    }
    }

  @media (min-width: 800px) {
    .button {
    display: none;
    }
    }

  /**************** Cart *************** */

  .cart-category-headers {
    display: flex;
    justify-content: space-evenly;
  }

  .cart-categories {
    border-radius: 5px;
    margin: 10px;
    font-size: 30px;
  }


  /************** Home Screen ***************/
    .home-screen-back-ground {
      background: url(https://images.unsplash.com/photo-1566927599204-d5d3142481aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);
      background-repeat: no-repeat;
      background-size: cover;
      height:100%
    }
  
    .home-screen-container {
      width: 100vw;
      height: 80vh;
    }

    .home-screen-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 10vw;
      background-color: rgba(0, 0, 0, 0.49);
      color: white;
      font-family: 'Pinyon Script', cursive;
      border-radius: 15px;
    }

    @media (min-width: 1000px) {
    .home-screen-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 7vw;
      background-color: rgba(0, 0, 0, 0.49);
      color: white;
      font-family: 'Pinyon Script', cursive;
      border-radius: 15px;
    }
  }

/**************** Footer *************** */
    .footer {
      display: flex;
      height: 5vh;
      background-color: white;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.8vw;
    }


    /**************** Menu *************** */
    .menu-container {
      height: 80vh;
    }

    /**************** Events *************** */
    .event-background {
      background-color: black;
    }

    .event-text-color {
      color:white;
    }


    /**************** About *************** */
    .about-picture {
      margin-top: 20px;
      height: 55vh;
      width: 35vw;
      border-radius: 1000px;
    }